<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Shipper</title>
<link th:href="@{/styles/styles.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<form th:action="@{/new}" method="post">
	<table>
	<tr>
		<th colspan="2">Add Shipper</th>
	</tr>
	<tr>
		<td>Name: </td><td><input type="text" name="name"/>
	</tr>
	<tr>
		<td>Phone: </td><td><input type="text" name="phone"/>
	</tr>
	<tr>
		<td>&nbsp;</td><td><input type="submit" value="Add Shipper" />
	</tr>
	</table>
</form>
</body>
</html>