<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Shipper</title>
<link th:href="@{/styles/styles.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<form th:action="@{/save}" th:object="${shipper}" method="post">
	<table>
	<tr>
		<th colspan="2">Edit Shipper</th>
	</tr>
	<tr>
		<td>Name: </td><td><input type="hidden" th:field="*{id}"/><input type="text" th:field="*{name}"/>
	</tr>
	<tr>
		<td>Phone: </td><td><input type="text" th:field="*{phone}"/>
	</tr>
	<tr>
		<td>&nbsp;</td><td><input type="submit" value="Save" />
	</tr>
	</table>
</form>
</body>
</html>